---
# ベースとなるスタイル
BasedOnStyle: Google

# 言語の指定
Language: Cpp

# インデント幅と列制限
IndentWidth: 4
ColumnLimit: 100

# --- ご要望の特定設定 ---

# 1. 引数が多い場合のブロックインデント指定
AlignAfterOpenBracket: BlockIndent

# 2. 名前空間内のインデントはなし
NamespaceIndentation: None

# 3. アクセス指定子のインデントを2マスに指定
AccessModifierOffset: -2

# 4. 変数宣言・代入の縦を揃える
AlignConsecutiveDeclarations: true   # 変数名を縦に揃える
AlignConsecutiveAssignments: true    # 代入の「=」を縦に揃える

# ------------------------

# その他のモダンC++おすすめ調整
AllowShortFunctionsOnASingleLine: All
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
PointerAlignment: Left
ReflowComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Preserve